<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img v-bind:src="image">
          </div>
          <div class="product-info">
            <h1>{{ product }}</h1>
            <p v-if="inStock">In Stock</p>
            <p v-else>Out of Stock</p>
            
            <ul><!-- gebruik ul (Unorderd List) om lijst te creeëren -->
            <!-- gebruik li om lijst te tonen --> <!-- v-for om door de lijst van details(zie main lijst) te loopen -->            
              <li v-for="detail in details">  {{ detail }} </li> <!-- we voegen een expression toe om ieder detail te kunnen tonen (refereert naar detail in details loop) -->
              </ul>
               <!-- om voor ieder product (zie data main) kleur te drukken (variant:color) voegen we eerst een <div> toe -->
               <!-- :key geeft ieder DOM element een unieke sleutel -->  
            <div v-for="variant in variants" :key = "variants.id">{{variants.color}}</div>

            <!-- Code challenge L5 -->
           <ul> 
            <li v-for="size in sizes">{{ size }}</li>
          </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
