<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>

      <div class="cart">Cart({{ cart }})</div>
      
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img v-bind:src="image">
          </div>
          <div class="product-info">
            <h1>{{ product }}</h1>
            <p v-if="inStock">In Stock</p>
            <p v-else>Out of Stock</p>
            <ul>
              <li v-for="detail in details">{{ detail }}</li>
            </ul>
             <!--update image when variant color is hovered on-->
             <!--SHORTHAND voor de v-on : @...-->    
            <div v-for="variant in variants" :key="variant.id" @mouseover="updateImage(variant.image)" >{{ variant.color }}</div>

             <!-- button: Listen for click-EVENTS on an element -->
               <!-- gebruik vue directive: v-on:click(event waar we naar luisteren) "cart +=1 is de expression dat we triggeren"-->
            <!--<button class="button" v-on:click="cart +=1">Add to Cart</button>--> 

            <!--voor de logica(cart +=1) maken we beter een method in de main-->
            <!--SHORTHAND voor de v-on : @...-->            
            <button class="button" @click="addToCart">Add to Cart</button>

            <!--Code challenge L6 - extra button decremending value of cart-->    
            <button class="button" @click="decremendingCart">Remove item</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
